
.nav{
  float: right;
  margin-right: 2%;
  margin-top: 1%;  
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
}

.nav li:last-child {
  border-right: none;
}

.nav li a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: italic;
}

.nav li a:hover:not(.active) {
  color: orangered;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav li a{
  display: block;
}

.nav li .active{
  color: orangered;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
  font-size: 13px;
  text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}



