.user-image{
	width: 40%;
	height: auto;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	z-index: 1;
	opacity: 1;
}

.bio-info{
	text-align: justify;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	font-family: Times New Roman, Times, serif;
}

