.user-image{
	width: 350px;
	height: 300px;
	border-radius: 50%;
}

.bio-info{
	text-align: justify;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	font-family: Times New Roman, Times, serif;
}