
.App {
  text-align: center;
  background-image: url('assests/background-image.jpg');
  padding-bottom: 5%;
}

.container{
  width: 70%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #fafafa;
  opacity: .7;
  border-top-left-radius: 5%;  
  border-top-right-radius: 5%;  
  border-bottom-left-radius: 5%;  
  border-bottom-right-radius: 5%;  
  padding-bottom: 2%;
}

.pages{
  margin-top: 6%;
}